body{
    background-color: #0a0a0a;
}

nav{
    position: fixed;
    top: 25px;
    left: 25px;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: #E3DBCC;
    font-size: 23px;
    margin: 0 15px;
    transition: color 0.3s, text-shadow 0.3s;
}
.nav-link{
    transition: color 0.3s, text-shadow 0.3s;
    font-family: 'Doto', monospace;
}
nav a:hover{
    color: #febdce;
    text-shadow: 0 0 5px #F3F0E9;
}

.hero{
    text-align: center;
    height: 100vh;
    align-content: center;
    
}
.hero-title{
    font-size: 50px;
    color: #a1d5ee;
    font-family: 'Pixelify Sans', monospace;
    animation:fadeIn 1.2s ease-in,1s infinite;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
    position: relative;
    display: inline-block;
}
.hero-title::before {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 2px;
    width: 100%;
    text-shadow: -2px 0 #a1d5ee;
    animation: glitch-mirror 5s infinite; }
.hero-title::after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: -2px;
    width: 100%;
    text-shadow: -2px 0 rgb(190, 225, 250), 2px 2px #a1d5ee;
    animation: glitch-mirror 1s infinite; 
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes glitch {
  0% {
    transform: skew(-3deg); }
  10% {
    transform: skew(1deg); }
  20% {
    transform: skew(2deg); }
  30% {
    transform: skew(4deg); }
  40% {
    transform: skew(4deg); }
  50% {
    transform: skew(5deg); }
  60% {
    transform: skew(-2deg); }
  70% {
    transform: skew(0deg); }
  80% {
    transform: skew(4deg); }
  90% {
    transform: skew(2deg); }
  100% {
    transform: skew(3deg); } }

@keyframes glitch-mirror {
  0% {
    clip-path: inset(4% 0%);
    transform: skew(0.81deg); }
  5% {
    clip-path: inset(38% 0%);
    transform: skew(0.28deg); }
  10% {
    clip-path: inset(163% 0%);
    transform: skew(0.67deg); }
  15% {
    clip-path: inset(31% 0%);
    transform: skew(0.07deg); }
  20% {
    clip-path: inset(168% 0%);
    transform: skew(0.53deg); }
  25% {
    clip-path: inset(130% 0%);
    transform: skew(0.48deg); }
  30% {
    clip-path: inset(92% 0%);
    transform: skew(0.68deg); }
  35% {
    clip-path: inset(43% 0%);
    transform: skew(0.7deg); }
  40% {
    clip-path: inset(18% 0%);
    transform: skew(0.5deg); }
  45% {
    clip-path: inset(180% 0%);
    transform: skew(0.21deg); }
  50% {
    clip-path: inset(71% 0%);
    transform: skew(0.56deg); }
  55% {
    clip-path: inset(182% 0%);
    transform: skew(0.55deg); }
  60% {
    clip-path: inset(66% 0%);
    transform: skew(0.65deg); }
  65% {
    clip-path: inset(66% 0%);
    transform: skew(0.77deg); }
  70% {
    clip-path: inset(43% 0%);
    transform: skew(0.56deg); }
  75% {
    clip-path: inset(148% 0%);
    transform: skew(0.93deg); }
  80% {
    clip-path: inset(169% 0%);
    transform: skew(0.46deg); }
  85% {
    clip-path: inset(166% 0%);
    transform: skew(0.98deg); }
  90% {
    clip-path: inset(53% 0%);
    transform: skew(0.81deg); }
  95% {
    clip-path: inset(157% 0%);
    transform: skew(0.68deg); }
  100% {
    clip-path: inset(182% 0%);
    transform: skew(0.22deg); } }